// Colors
$light-border-color: #DDDFE2;
$color-primary: #1876f2;
$color-primary-hover: hsl(214, 89%, 56%);
$light-header-text-color: rgb(0, 0, 0);
$dark-header-text-color: rgb(0, 0, 0);
$light-background-color: #F0F2F5;
$footer-text-color: #212529;

// Properties
$light-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
$border-radius: 6px;
$input-padding: 15px 10px;
$input-padding-small: 11px;