<%= turbo_frame_tag comment do %>
  <li class="list-group-item">
    <span class="badge text-bg-primary"><%= comment.user.username %></span> <br>
    <div class="d-flex justify-content-between">
      <%= comment.body %>
      <small><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>
  </li>
<% end %>