<% if attribute_errors.any? %>
  <% attribute_errors.each do |message| %>
    <span class="login-form__error-message"><i class="bi bi-exclamation-circle-fill"></i> <%= attribute_name %> <%= message %></span>
  <% end %>
<% end %>
