<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=0">
  </head>
  <body>
    <table style="font-family: 'Roboto', sans-serif; width: 100%; background-color: #F0F2F5;" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="max-width: 600px; margin: 0 auto; border: 1px solid #DDDFE2; border-radius: 6px; background-color: #fff;" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding: 20px;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="width: 60px; text-align: left;">
                      <%= image_tag attachments['nexellia.png'].url, alt: 'Nexellia logo', class: 'photo', style: 'height: 55px;' %>
                    </td>
                    <td style="text-align: left;">
                      <h1 style="font-family: 'Roboto', sans-serif; font-size: 28px; font-weight: bold; color: #1876f2; margin-bottom: 20px;">Nexellia</h1>
                    </td>
                  </tr>
                </table>
                <p style="text-align: left;">Hello <b><%= @user.full_name %></b>,</p>
                <p style="text-align: left;">Thank you for signing up for Nexellia. I am thrilled to have you onboard!</p>
                <p style="text-align: left;">With Nexellia, you can connect with friends, share your thoughts and discover exciting content. I hope you have a great experience!</p>
                <p style="text-align: left;">To visit and start using the site, please click <a href="https://nexellia.onrender.com/">here</a>.</p>
                <p style="text-align: left;">If you have any questions, feedback or need assistance, feel free to reach out to me.</p>
                <br>
                <br>
                <span style="display: block;">Best regards,</span>
                <h3 style="margin: 5px 0 20px 0; font-size: 20px;">Adrian</h3>
                <div style="width: 100%; margin-bottom: 50px;">
                  <div>
                    Email:
                    <a href="mailto:adriany.webdev@gmail.com" target="_blank">
                      adriany.webdev@gmail.com
                    </a>
                  </div>
                  <br>
                  <div>
                    Github:
                    <a href="https://github.com/adrian-y1" target="_blank">
                      <i class="bi bi-github" style="color: #000; font-size: 18px; margin-bottom: 2px;"></i> Adrian-y1
                    </a>
                  </div>
                </div>
                <small style="display: block; width: 100%; color: #7a7b7e; border-top: 1px solid #DDDFE2; padding-top: 10px; text-align: center;">Disclaimer: This site is not affiliated with Facebook.</small>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
