<ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="notificationsDropdown" 
    style="max-height: 400px; overflow-x: hidden; overflow-y: auto; width: 25rem; background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);">
  
  <h5 class="text-black">Notifications</h5>

  <%= turbo_stream_from "all_notifications_#{user.id}" %>

  <%= turbo_frame_tag "all_notifications_#{user.id}" do %>
    <% all_notifications.each do |notification| %>
      <%= render "notifications/all_notifications_item", notification: notification %>
    <% end %>
  <% end %>

  <% if all_notifications.empty? %>
    <li class="list-group-item border-0 text-center py-3">No notifications to display</li>
  <% end %>
</ul>
