<% if context == :all %>
  <div class="col-auto">
    <%= render "profiles/picture", profile: noticed_obj.creator_profile, size: "50x50" %>
  </div>
  <div class="col">
    <div class="fw-bold"><%= noticed_obj.creator.username %></div>
    <div class="text-muted small">commented on your post</div>
  </div>
<% elsif context == :unread %>
  <strong><%= link_to noticed_obj.creator.username, noticed_obj.creator, data: { turbo_frame: "_top" } %></strong> 
  commented on your <%= link_to "post", noticed_obj.post, data: { turbo_frame: "_top" } %>
<% end %>