<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <% if unread %>
      <span>(Unread)</span>
    <% end %>

  <%= link_to user.username, user, data: { turbo_frame: "_top" } %> commented on your <%= link_to "post", post, data: { turbo_frame: "_top" } %>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

