<%= turbo_frame_tag user, :notifications_count do %>
  <i class="bi bi-bell-fill"></i>
  <span class="navbar__notifications-dropdown--count">
    <span><%= unread_notifications.count >= 9 ? "9+" : unread_notifications.count %></span>
  </span>
<% end %>