<% noticed_obj = notification.to_notification %>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <% if notification.unread? %>
      <span>(Unread)</span>
    <% end %>

  <% if noticed_obj.is_a?(CommentNotification) %>
    <%= render "notifications/comment_notification", noticed_obj: noticed_obj, context: :unread %>
  <% elsif noticed_obj.is_a?(PostLikeNotification) %>
    <%= render "notifications/post_like_notification", noticed_obj: noticed_obj, context: :unread %>
  <% end %>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

