<% if current_user %>
  <div class="container">
    <%= turbo_stream_from "unread_notifications_#{user.id}" %>
    
    <%= turbo_frame_tag "unread_notifications_#{user.id}" do %>
      <% @unread_notifications.each do |unread_notification| %>
        <% notification_obj = notification.to_notification %>

        <%= render unread_notification,
                    user: notification_obj.creator,
                    post: notification_obj.post,
                    unread: notification.unread? %>
      <% end %>
    <% end %>
  </div>
<% end %>