<% noticed_obj = notification.to_notification %>

<%= link_to noticed_obj.url, data: { turbo_frame: "_top" } do %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <% if notification.unread? %>
      <span class="badge bg-primary me-2">New</span>
    <% end %>

    <div class="d-flex align-items-center">
      <div class="flex-grow-1 ms-3">
        <strong><%= noticed_obj.message %></strong>
        <br>
        <small class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</small>
      </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>