.login-container {
  background-color: var(--main-background-color);
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: "logo login-form";

  @include media(bigTablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 170px auto 170px;
    grid-template-areas: 
    "logo" 
    "login-form";
  }
}