.notifications-index-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#notifications-index {
  display: block;
  background-color: var(--secondary-background-color);
  position: static;
  width: 700px;
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  z-index: 0 !important;

  .unread {
    a {
      color: var(--primary-text);
      font-weight: 350;
    }
  }

  .notifications-clear-all-button {
    padding: 15px;
    color: var(--notifications-text);
    font-weight: 550;
    margin-bottom: 10px;

    &:focus,
    &:hover {
      color: var(--notifications-text);
      text-decoration: underline;
    }
  }
}