.post-index-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar posts contact";
  align-items: flex-start;

  @include media(laptop) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "posts contact";
  }

  @include media(bigTablet) {
    grid-template-columns: 1fr;
    grid-template-areas: "posts";
  }
}