.post-index-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .post-index-posts, .post-index-posts__cards-container {
    @include media(laptop) {
      justify-content: flex-start;
      align-items: flex-start;
    }

    @include media(bigTablet) {
      justify-content: center;
      align-items: center;
    }
  }
}