.users-container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-background-color);

  .post-index-sidebar {
    background-color: var(--secondary-background-color);
    
    .suggestions {
      display: none !important;
    }

    @include media(desktop) {
      width: 300px;
    }
  
    @include media(smallerDesktop) {
      width: 250px;
    }
  
    @include media(laptop) {
      width: 220px;
      display: block;
    }

    @include media(bigTablet) {
      display: none;
    }
  }

  @include media(laptop) {
    grid-template-columns: 1fr;
  }
}

.users-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 400px;

  @include media(desktop) {
    padding-left: 320px;
  }

  @include media(smallerDesktop) {
    padding-left: 270px;
  }

  @include media(laptop) {
    padding-left: 240px;
  }

  @include media(bigTablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.friend-requests, .all-users {
  border-bottom: 1px solid var(--border-color);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;

  &__header {
    width: 100%;
    margin-bottom: 22px;
  }

  &__title {
    font-size: 19px;
    font-weight: 600;
    color: var(--primary-text);
  }

  &__card-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .empty-state {
      text-align: left;
    }
  }

  &__card {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    gap: 5px;
    box-shadow: var(--box-shadow);
    margin-right: 7px;
    margin-bottom: 7px;
  }

  &__picture {
    img {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &__name {
    width: 90%;
    margin: auto;

    &--link {
      font-weight: 550;
      font-size: 17px;
      color: var(--primary-text);

      &:hover,
      &:focus {
        color: var(--primary-text);
      }
    }
  }

  &__mutual-friends {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      font-weight: 500;
      font-size: 15px;
      color: var(--secondary-text-darker);
      margin-left: 17px;
    }

    a {
      #picture {
        position: relative;
        border-radius: 50%;
        margin-right: -10px;
        display: flex;
        align-items: center;
      }
    }

    img {
      border-radius: 50%;
      border: 2px solid var(--secondary-background-color);
    }
  }

  &__buttons {
    .profile-header__friend-request-buttons {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-bottom: 10px;

      form {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .profile-header-button {
      width: 90%;
      justify-content: center;
    }
  }

  #profile-header__buttons--view {
    display: flex !important;
    padding: 8.5px 14px !important;

    i {
      font-size: 18px !important;
      margin-bottom: 2px;
    }
  }
}