<%= link_to user, class: 'post-index-contacts__link', id: "friend_#{user.id}_card" do %>
  <%= render "profiles/picture", profile: user.profile, size: '50x50' %>
  <%= user.full_name %>
  <% if user.online? %>
    <span class="post-index-contacts__status--online"><i class="bi bi-circle-fill"></i></span>
  <% else %>
    <span class="post-index-contacts__status--offline"><i class="bi bi-circle-fill"></i></span>
  <% end %>
<% end %>