<% if object.errors.any? %>
  <div class="form-error-container">
    <% object.errors.full_messages.each do |message| %>
      <div class="form-error-card">
        <div class="form-error-card__icon">
          <i class="bi bi-exclamation-triangle-fill"></i> 
        </div>
        <div class="form-error-card__message">
          <%= message %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>