<% if @pagy.next.present? %>
  <%= turbo_frame_tag "posts_page_#{@pagy.next}", loading: :lazy, src: pagy_url_for(@pagy, @pagy.next) do %>
  <% sleep 0.5 %>
  <div class="lds-ring-container">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  <% end %>
<% end %>