<div class="text-center" data-controller="redirect">
  The post you were viewing has been deleted and no longer exists. <br>
  Redirecting to the feed page in <span class="badge bg-danger" data-redirect-target="timer">5</span> seconds. <br>
  <%= link_to "Go To Feed", posts_path, class: "btn btn-primary mt-4", data: { turbo_frame: "_top" } %>
</div>
