<%= turbo_frame_tag post, :index do %>
    <p class="post-card__body--text"><%= post.body %></p>
    <% if post.image.attached? %>
        <%= image_tag post.image, class: "post-card__body--picture" %>
    <% end %>
<% end %>