<%= turbo_frame_tag post, :show do %>
	<p class="post-card__body--text"><%= post.body %></p>
	<% if post.image.attached? %>
		<button type="button" data-controller="picture-modal modal" data-action="click->picture-modal#showModal click->modal#open" data-turbo-frame="_top">
			<%= image_tag post.image, class: "post-card__body--picture", data: { picture_modal_target: "postShowPicture", modal_target: "modal" } %>
		</button>
	<% end %>
<% end %>