<%= turbo_frame_tag post, :show do %>
	<p class="post-card__body--text"><%= post.body %></p>
	<% if post.image.attached? %>
		<%= link_to post, data: { turbo_frame: "post_show_modal" } do %>
			<%= image_tag post.image, class: "post-card__body--picture" %>
		<% end %>
	<% end %>
<% end %>