<div class="container d-flex flex-column align-items-center mb-5">
  <h2>User Posts</h2>

  <%= turbo_stream_from "posts" %>

  <%= turbo_frame_tag id="new_post", src: new_post_path %>

  <%= turbo_frame_tag "posts" do %>
    <%= render @posts, user: Current.user %>
  <% end %>
</div>