.empty-state:not(:only-child) {
  display: none;
  color: var(--secondary-text-darker);
  font-weight: bold;
}
.empty-state:only-child {
  display: revert;
  color: var(--secondary-text-darker);
  font-weight: bold;
}