.empty-state {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  font-weight: 550;
  font-size: 16px;
  color: var(--secondary-text-darker);
}

.empty-state:not(:only-child) {
  display: none;
}
.empty-state:only-child {
  display: revert;
}