#post-show-page-no-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 30px 0;

  .modal {
    
    &__body {
      overflow: hidden;
      max-height: 100%;
    }
  }
  .modal__body {
    width: 700px;
    background-color: var(--secondary-background-color);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @include media(smallTablet) {
      width: 100%;
    }
  }

  .modal__footer {
    width: 700px;
    background-color: var(--secondary-background-color);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-left: 6px;
    padding: 0;

    @include media(smallTablet) {
      width: 100%;
    }

    &__comments-form-container{
      position: static;
      border: none;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: (--secondary-background-color);
  background-color: var(--modal-background-color);

  .post-card {
    background-color: var(--secondary-background-color);
    border-radius: $border-radius;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: var(--secondary-background-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: $border-radius;
    box-shadow: var(--box-shadow);
  }

  &__header {
    width: 100%;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--secondary-background-color);
    color: var(--primary-text);
    margin-bottom: 10px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .form-error-container {
      margin-top: 2px;
      align-items: center !important;
    }

    &--close {
      border-radius: 50%;
      background-color: var(--light-grey);
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 1px 3px;

      i {
        font-size: 25px;
        color: var(--primary-text);
      }

      &:hover {
        background-color: var(--even-lighter-grey);
      }
    }
  }

  &__body {
    padding: 0 15px;
    max-height: 700px;
    overflow-y: overlay;

    &--user {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      font-size: 16px;
      margin-bottom: 10px;
      color: var(--primary-text);

      img {
        border-radius: 50%;
      }
    }

    &--textarea {
      width: 100%;
      height: 150px;
      border: none;
      resize: none;
      font-size: 18px;
      overflow: auto;
      margin-bottom: 10px;
      background-color: var(--secondary-background-color);
      color: var(--primary-text);

      &:focus,
      &:active {
        outline: none;
      }
    }

    &--file-upload {
      border: 1px solid var(--border-color);
      border-radius: $border-radius;

      &:hover {
        cursor: pointer;
      }

      input[type="file"] {
        display: none;
      }
    }

    &--custom-file-upload {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: var(--primary-text);

      i {
        color: yellowgreen;
        font-size: 30px;
      }
    }
    
    &::-webkit-scrollbar{
      width: 6px !important;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;

    &--btn-primary {
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 8px 0;
      border-radius: $border-radius;
      color: white;
      font-weight: bold;
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-hover;
        cursor: pointer;
      }
    }
    
    &__comments {
      &-form-container {
        border-radius: $border-radius;
        background-color: var(--secondary-background-color);
        width: 100%;
        position: fixed;
        bottom: -30px;
        left: 0;
        right: 0;
        border-top: 1px solid var(--border-color);
        gap: 5px;
        padding: 10px;
        box-shadow: var(--box-shadow);
  
        form {
          width: 100%;
          display: grid;
          grid-template-columns: 35px 1fr 35px;
          grid-template-rows: 1fr auto;
        }
        
        &-form__input-container {
          width: 100%;
          display: flex;
          align-items: center;
          flex-grow: 1;
        }

        .form-error-container {
          padding-left: 50px !important;
          grid-column: 1/3;
        }
      }
  
      &-form--textarea {
        flex-grow: 1;
        width: 100%;
        height: 60px;
        background-color: var(--textarea-color);
        border: none;
        outline: none;
        resize: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 10px 40px 10px 10px;
        color: var(--primary-text);
      }
  
      &-form--button {
        font-size: 18px;
        border: none;
        outline: none;
        background-color: var(--textarea-color);
        color: var(--secondary-text);
        padding: 10px 20px 10px 0;
        height: 60px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
  
      &-form--picture {
        justify-self: end;
        align-self: start;
        margin-right: 5px;

        img {
          border-radius: 50%;
        }
      }
    }
  }

  &__preview-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  &__preview-image {
    max-width: 100%;
    max-height: 300px;
  }

  @include media(smallPhone) {
    &__content {
      justify-content: start;
    }

    .post-card {
      display: none;
    }

    &__footer {
      &__comments-form-container {
        &-form--picture {
          display: none;
        }

        &-form--textarea {
          height: 50px;
          padding: 10px 40px 10px 10px;
        }
    
        &-form--button {
          font-size: 18px;
          padding: 10px 20px 10px 0;
          height: 50px;
        }
      }
    }
  }
}

#post_show_modal {
  width: 100%;
}