.navbar {
  width: 97%;
  margin: auto;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "brand navigation user-menus";
  
  // Brand
  &__brand {
    grid-area: brand;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }

  &__title {
    font-size: 20px;
    color: $color-primary;
    font-weight: bold;
  }

  // Navigational Links
  &__nav {
    grid-area: navigation;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    width: 150px;
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: var(--secondary-text-darker);
    position: relative;
    border-radius: $border-radius;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      color: var(--secondary-text-darker);
      background-color: var(--light-grey);
    }
  }

  &__link i {
    font-size: 25px;
  }

  .active-link {
    color: $color-primary;

    &-border {
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      position: absolute;
      bottom: -10px;
      left: 0;
      border-radius: 20px;
    }
  }

  // Menus
  &__user-menus {
    grid-area: user-menus;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  // Notifications Dropdown
  &__notifications-dropdown {
    background-color: var(--light-grey);
    width: 45px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    
    &--toggle {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      background-color: var(--light-grey);
      
      &:hover {
        background-color: var(--even-lighter-grey);
      }
    }

    &--count {
      position: absolute;
      top: -5px;
      right: 0px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $color-primary;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    i {
      color: var(--secondary-icon);
      font-size: 20px;
    }
  }

  // Notifications Dropdown Menu
  &__notifications-dropdown-menu {
    display: none;
    background-color: var(--secondary-background-color);
    position: absolute;
    top: 50px;
    right: -50px;
    width: 370px;
    border-radius: $border-radius;
    box-shadow: var(--dark-box-shadow);
    border: 1px solid var(--border-color);
    z-index: 5;
  }

  &__notifications-header {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-text);
  }

  &__notifications-footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--border-color);

    &-link {
      padding: 10px 0;
      display: block;
      width: 100%;
      color: var(--primary-text);
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      &:hover {
        color: var(--primary-text);
        background-color: var(--light-grey);
      }
    }
  }

  // Notification Card
  &__notifications-card-container {
    max-height: 450px;
    overflow-y: scroll;
    padding: 5px;

    &::-webkit-scrollbar{
      width: 6px;
      border-radius: 25px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #aec1dd;
      border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #83bed1; 
    }
  }

  &__notification-card {
    width: 100%;
    border-radius: $border-radius;

    &__link {
      width: 100%;
      color: var(--secondary-text);
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 5px 15px;
      margin-top: 5px;
      gap: 10px;
      border-radius: $border-radius;

      img {
        border-radius: 50%;
      }

      &:hover {
        color: var(--secondary-text);
        background-color: var(--light-grey);
      }
    }

    &__date-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__body {
      width: 100%;
    }

    &__date {
      color: var(--secondary-text);
      font-size: 13px;

      &__unread {
        color: $color-primary;
        font-size: 15px;
      }
    }

    &__unread {
      color: $color-primary !important;
      font-size: 14px !important;
    }
  }

  .unread {
    background-color: $color-primary-low-opacity;

    a {
      color: var(--primary-text);
    }
  }


  // User Dropdown Menu
  &__user-dropdown {
    border-radius: 50%;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--toggle {
      padding: 0;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }

    &--picture {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  // User Dropdown Menu
  &__user-dropdown-menu {
    display: none;
    background-color: var(--secondary-background-color);
    position: absolute;
    top: 50px;
    right: 0px;
    width: 250px;
    border-radius: $border-radius;
    box-shadow: var(--dark-box-shadow);
    border: 1px solid var(--border-color);
    padding: 10px 5px;

    &__header {
      display: flex;
      justify-content: start;
      align-items: center;
      border-radius: $border-radius;
      gap: 10px;
      padding: 10px;
      border-bottom: 1px solid var(--border-color);
      font-size: 17px;

      &:hover {
        background-color: var(--light-grey);
      }
    }

    &__title {
      color: var(--primary-text);
      font-weight: bolder;
    }

    &__picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    &__link {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 5px;
      gap: 15px;
      border-radius: $border-radius;
      color: var(--secondary-icon);
      font-size: 18px;
      margin-top: 5px;
      width: 100%;
      background-color: transparent;
      outline: none;

      &:hover {
        background-color: var(--light-grey);
        color: var(--secondary-icon);
      }

      &:active,
      &:focus {
        color: var(--secondary-icon);
      }

      span {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--light-grey);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .dropdown-display {
    display: block;
  }

  @include media(bigTablet) {
    &__title {
      display: none;
    }
  }

  @include media(smallPhone) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
    &__title {
      display: flex;
    }

    &__brand {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &__nav {
      width: 100%;
      justify-content: space-between;
      grid-row: 2;
      grid-column: 1 / -1;
    }

    &__user-menus {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
}