.post-index-posts {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__form--trigger {
    width: 700px;
    background-color: var(--secondary-background-color);
    box-shadow: var(--box-shadow);
    border-radius: $border-radius;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div:first-child {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid var(--border-color);

      a:last-child {
        background-color: var(--light-grey);
        width: 100%;
        border-radius: 25px;
        font-size: 18px;
        padding: 10px 15px;
        text-align: start;
        color: var(--secondary-text-darker);

        &:hover {
          background-color: var(--even-lighter-grey);
        }
      }
    }
    img:first-child {
      border-radius: 50%;
    }
  }

  &__form--image-trigger {
    background-color: transparent;
    font-size: 17px;
    color: var(--secondary-text-darker);
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: $border-radius;

    &:hover {
      background-color: var(--light-grey);
      color: var(--secondary-text-darker);
    }

    i {
      margin-right: 7px;
      font-size: 25px;
      color: yellowgreen;
    }
  }

  @include media(smallTablet) {
    padding: 10px 0;

    &__form--trigger {
      width: 100%;
    }
  }
}