.post-index-posts__cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@include media(smallTablet) {
  #posts {
    width: 100%;
  }

  .posts_page_pagination {
    width: 100%;
  }
}

.post-card {
  background-color: var(--secondary-background-color);
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
  margin-top: 10px;
  width: 700px;

  @include media(smallTablet) {
    width: 100%;
  }

  .dropdown-display {
    display: block;
  }

  &__header {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    &-link {
      color: var(--primary-text);

      &:hover,
      &:active,
      &:active {
        color: var(--primary-text);
        text-decoration: underline;
      }
    }
  }

  &__profile-picture img {
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }

  &__date {
    text-align: start;
    color: var(--secondary-text-darker);
  }

  &__dropdown {
    position: relative;
    
    &--trigger {
      background-color: var(--secondary-background-color);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      font-size: 20px;
      outline: none;
      color: var(--primary-text);
      
      &:hover {
        background-color: var(--even-lighter-grey);
      }
    }

    &-menu {
      display: none;
      width: 200px;
      height: 100%;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: var(--secondary-background-color);
      z-index: 1;
      box-shadow: var(--dark-box-shadow);

      .post-buttons {
        background-color: var(--secondary-background-color);
        border-radius: $border-radius;
        display: none;
        width: 100%;
        padding: 5px;
        height: fit-content;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        flex-direction: column;
        box-shadow: var(--dark-box-shadow);
        border: 1px solid var(--border-color);
        z-index: 1;

        a {
          width: 100%;
          padding: 10px;
          color: var(--primary-text);
          border-radius: $border-radius;
          font-size: 17px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          &:hover, 
          &:focus, 
          &:active {
            color: var(--primary-text);
            background-color: var(--light-grey);
          }

          i {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__body {
    &--text {
      font-weight: lighter;
      padding: 10px 10px;
      color: var(--primary-text);
    }

    &--picture {
      display: block;
      width: 100%;
      max-height: 600px;
      image-rendering: auto;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--count {
      padding: 10px;
      border-bottom: 2px solid var(--border-color);
      width: 100%;
      color: var(--secondary-text-darker);
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: var(--secondary-text-darker);

        &:hover {
          color: var(--secondary-text-darker);
          text-decoration: underline;
        }

        &:focus,
        &:active {
          color: var(--secondary-text-darker);
        }
      }
    }

    &--buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 5px 0;
    }

    &--Like, &--Unlike, &--comment {
      padding: 7px 40px;
      color: var(--secondary-text-darker);
      background-color: var(--secondary-background-color);
      font-size: 16px;
      border-radius: $border-radius;
      font-weight: 600 !important;

      &:hover,
      &:focus,
      &:active {
        color: var(--secondary-text-darker);
        background-color: var(--light-grey);
      }

      i {
        font-size: 18px;
      }
    }

    &--Unlike {
      color: $color-primary;
      padding: 7px 32px;
      
      &:hover,
      &:focus,
      &:active {
        color: $color-primary;
      }
    }

    &--likes-count-container {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 5px;
    }

    &--likes-icon {
      border-radius: 50%;
      background: linear-gradient($color-primary, $color-primary-hover);
      width: fit-content;
      height: fit-content;

      i {
        font-size: 13px;
        margin: 5px;
        color: white;
      }
    }
  }
}