.post-index-contacts {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  
  &__header {
    width: 100%;
    padding: 0 10px 10px 10px;
    font-size: 20px;
    color: var(--primary-text);
  }

  &__list {
    width: 100%;
  }

  &__link {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    position: relative;
    color: var(--primary-text);
    border-radius: $border-radius;

    &:hover,
    &:active,
    &:focus {
      color: var(--primary-text);
      background-color: var(--light-grey);
    }

    img {
      border-radius: 50%;
    }
  }

  &__status--online, &__status--offline {
    border: 5px solid var(--main-background-color);
    background-color: var(--main-background-color);
    position: absolute;
    left: 43px;
    top: 43px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    padding-left: 1px;
    justify-content: center;

    i {
      border: none;
      outline: none;
      font-size: 12px;
    }
  }

  &__status--online {
    color: #329A4C;
  }

  &__status--offline {
    color: red;
  }

  &__status--last_online_at {
    border: 2px solid var(--main-background-color);
    background-color: var(--last-online-at-color);
    position: absolute;
    left: 20px;
    top: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 2px 2px 2px 3px;
    color: #008F00;
  }

  @include media(bigTablet) {
    display: none;
  }
}