.profile-body {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;

    @include media(bigTablet) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      #profile_information {
        display: flex;
        align-items: center;
        justify-content: center;
      } 
    }
  }
  
  &__header-intro-title {
    color: var(--primary-text);
  }
  
  &__intro {
    background-color: var(--secondary-background-color);
    border-radius: $border-radius;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-shadow: var(--box-shadow);
    gap: 15px;
    margin-top: 11px;

    @include media(bigTablet) {
      width: 700px;
    }

    @include media(smallTablet) {
      width: 100%;
    }

    &-content {
      display: flex;
      align-items: center;
      font-weight: lighter;
      color: var(--primary-text);

      i {
        margin-right: 20px;
        color: var(--secondary-text-darker);
      }

      span {
        margin-left: 4px;
        font-weight: 550;
      }
    }
  }

  &__posts {
    @include media(bigTablet) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #posts {
      @include media(bigTablet) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
