
<style>
  .welcome-email-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  .welcome-email {
    width: 600px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .welcome-email__banner {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #1876f2;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDFE2;
    text-align: center;
  }

  .welcome-email__footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    width: fit-content;
    margin-bottom: 10px;
  }

  i {
    color: #000;
    font-size: 18px;
    margin-bottom: 2px;
  }

  h3 {
    margin: 5px 0 20px 0;
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  small {
    display: block;
    width: 100%;
    color: #7a7b7e;
    border-top: 1px solid #DDDFE2;
    padding-top: 10px;
    text-align: center;
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .reset-button {
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #1876f2;
    font-size: 17px;
    text-decoration: none;
  }

  .reset-button:hover {
    background-color: hsl(214, 89%, 56%);
  }
</style>

<div class="welcome-email-container">
  <div class="welcome-email">
    <div class="welcome-email__banner">
      Nexellia
    </div>

    <div class="welcome-email__content">
      <p>Hello <b><%= @resource.full_name %></b>,</p>
      <p>Someone has request to change your Nexellia password.</p>
      <p>Please click the link below to change your password now.</p>
      <p class="btn-wrapper"><%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: "reset-button" %></p>
      <p>If you didn't request this change, please disregard this email.</p>
      <p>Your password will only be updated once you click the link above and create a new one.</p>
      <br>
      <br>
      <span>Best regards,</span>
      <h3>Adrian</h3>
      <div class="welcome-email__footer">
        <a class="footer__link" href="mailto:adriany.webdev@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i> adriany.webdev@gmail.com</a>
        <a class="footer__link" href="https://github.com/adrian-y1" target="_blank"><i class="bi bi-github"></i> Adrian-y1</a>
      </div>
      <small>Disclaimer: This site is not affiliated with Facebook.</small>
    </div>
  </div>
</div>
