<% flash.each do |flash_type, message| %>
  <div class="alert alert-<%= flash_type == "notice" ? "success" : "danger" %> flash__message text-center">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>