<button class="navbar__notifications-dropdown--toggle" data-action="click->dropdown-toggle#toggle">
  <%= turbo_stream_from "user_#{user.id}_notifications_count" %>
  <%= render "notifications/notifications_count", unread_notifications: unread_notifications, user: user %>
</button>
<%= render "notifications/dropdown_notifications", all_notifications: all_notifications, user: user %>
